<html ng-app='weatherReportApp'>

<head>
    <title>Weather Report</title>
    <script type='module'>
        import 'https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js'
        import './components.js'
    </script>
    <link rel="stylesheet" href="index.css">
</head>

<body ng-controller="WeatherReportController">
    <div id='base'>
        <h4>Place</h4>
        <select className="selector" ng-model='model.place' ng-change='updateModel()'>
            <option value='All'>All</option>
            <option value='Horsens'>Horsens</option>
            <option value='Aarhus'>Aarhus</option>
            <option value='Copenhagen'>Copenhagen</option>
        </select>

        <h4>Start Date &emsp; &emsp; &emsp; &emsp; End Date</h4>
        <input type="date" ng-model='model.startDate' ng-change='updateModel()'/>
        <input type="date" ng-model='model.endDate' ng-change='updateModel()'/>

        <h4>View mode</h4>
        <form>
            <input type="radio" value="historical" ng-model='model.viewMode' ng-change='updateModel()' />Historical data
            <input type="radio" value="predictive" ng-model='model.viewMode' ng-change='updateModel()' />Predictive data
        </form>

        <div ng-switch="model.viewMode">
            <div ng-switch-when="historical">
                <h2>Minimum temperatures for the date interval</h2>
                <temperature-table attribute='minTemperatures' ></temperature-table>

                <h2>Maximum temperatures for the date interval</h2>
                <temperature-table attribute='maxTemperatures' ></temperature-table>

                <h2>Total precipitations for the date interval</h2>
                <precipitation-table attribute='totalPrecipitations' ></precipitation-table>

                <h2>Average wind speed for the date interval</h2>
                <windspeed-table attribute='avgWindSpeed' ></windspeed-table>

                <h2>Dominant wind direction for the date interval</h2>
                <winddirection-table attribute='dominantWindDirection' ></winddirection-table>

                <h2>Average cloud coverage for the date interval</h2>
                <cloudcoverage-table attribute='avgCloudCoverage' ></cloudcoverage-table>

                <h2>Add a new record</h2>
                
            </div>

            <div ng-switch-when="predictive">
                <button ng-click='refreshPredictions()'>Refresh predictions</button>

                <h2>Temperature predictions</h2>
                <temperaturepredictions-table attribute='temperaturePredictions' ></temperaturepredictions-table>

                <h2>Precipitation predictions</h2>
                <precipitationpredictions-table attribute='precipitationPredictions' ></precipitationpredictions-table>

                <h2>Wind speed predictions</h2>
                <windspeedpredictions-table attribute='windSpeedPredictions' ></windspeedpredictions-table>

                <h2>Cloud coverage predictions</h2>
                <cloudcoveragepredictions-table attribute='cloudCoveragePredictions' ></cloudcoveragepredictions-table>
            </div>

        </div>
</body>

</html>