.selector {
    width: 25%;
}

.radioGroup {
    width: 50%;
}

.datePicker {
    margin-right: 20px;
}

.historical, .predictive {
    margin-left: 1px;
    margin-top: 20px;
}

.fields {
    display: inline;
    margin-left: 1px;
    margin-right: 10px;
}